html, body {
    @include reset;
    width: 100%;
    font-family: Oswald, "sans-serif";
    font-size: 24px;
    line-height: 120%;
    overflow: hidden;
}

body {
    position: relative;
}

main {
    position: relative;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    @include reset;
}

ul {
    @include reset;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1240px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.title {
    font-size: 48px;
    line-height: 120%;
    color: #000000;
}

@media (min-width: 720px) and (max-width: 1200px) {
    .title {
        font-size: 36px;
        line-height: 120%;
        color: #000000;
    }
} 

@media (min-width: 320px) and (max-width: 720px) {
    .title {
        font-size: 28px;
        line-height: 120%;
    }
}